# EditorConfig helps maintain consistent coding styles for multiple developers working on the same
# project across various editors and IDEs. EditorConfig is awesome: https://EditorConfig.org

# Top-most EditorConfig file
root = true

[*]
indent_style = tab
indent_size = 4
end_of_line = crlf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{json,yaml}]
indent_size = 2

[*.sh]
end_of_line = lf
